<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICOVALE</title>
    
    <!-- Importação da fonte roboto -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Links para estilos -->

    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/base.css">

    {% block estilos %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>
<body>
    <header class="row">
        <div class="col-2" id="logo">
            <img src="./static/img/devoLogo.png">
        </div>
        <div class="col-9">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="#Ajuda">Ajuda</a></li>
                <li><a href="#Fontes">Fontes</a></li>
                <li><a href="consulta" id="btn-consultar">Consultar</a></li>
            </ul>
        </div>
        <div class="col-1"></div>
    </header>

    {% block conteudo %}
    {% endblock %}

    <footer>
        <p><a href="/">Início</a>
            <a href="#Sobre">Sobre</a>
            <a href="#Fontes">Fontes</a>
            <a href="#Ajuda">Ajuda</a></p>
            <p>Faculdade de Tecnologia do Estado de São Paulo - Prof Jessen Vidal </p>
            <p>Desenvolvido por <a target="_blank" id="copy-link" href="https://github.com/equipedevo/API_1#topo">&copy; Equipe DEVO</a><br>2023</p>
    </footer>
</body>
</html>