<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="../static/img/cicovaleIco.ico">
    
    <!-- Importação da fonte roboto -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Links para estilos -->

    <link rel="stylesheet" href="./static/css/normalize.css">
    <link rel="stylesheet" href="./static/css/base.css">

    {% block estilos %}
    {% endblock %}

    <script src="../static/js/PopUp.js" defer></script>

    {% block scripts %}
    {% endblock %}
</head>
<body>
    <header class="row">
        <div class="left"></div>
        <div class="logo"><img src="./static/img/logoMenu.png"></div>
        <div class="center"></div>
        <div class="nav">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="sobre">Sobre</a></li>
                <li><a href="#Ajuda" onclick="popupToggle('popupAjuda')">Ajuda</a></li>
                <li><a href="#Fontes" onclick="popupToggle('popupFontes')">Fontes</a></li>
                <li><a href="consulta" id="btn-consultar">Consultar</a></li>
            </ul>
        </div>
        <div class="right"></div>
    </header>
    <main>
        <div class="popups" id="popupAjuda">
            <div class="contentPopup">
                <h2>Como consultar os dados?</h2>
                <p>Para consultar dados isolados, vá para a página "Consultar", selecione a opção que desejar em cada uma das caixas de seleção e clique na lupa à direita.</p>
                <p>Para iniciar uma nova pesquisa, clique no botão de atualizar, a setinha curvada, à direita da lupa.</p>
                <h2>Como comparar dados?</h2>
                <p>Para comparar dados vá para a página "Consultar", selecione uma ou mais opções em cada uma das caixas de seleção e clique na lupa à direita.</p>
                <p>Para iniciar uma nova pesquisa, clique no botão de atualizar, a setinha curvada, à direita da lupa.</p>
            </div>
        </div>
        <div class="popups" id="popupFontes">
            <div class="contentPopup">
                <h2>Fontes</h2>
                <p><a href="https://datasus.saude.gov.br/informacoes-de-saude-tabnet/" target="_blank">DATASUS TABNET</a></p>
            </div>
        </div>

        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <p>
            <a href="/">Início</a>
            <a href="/sobre">Sobre</a>
            <a href="#Ajuda" onclick="popupToggle('popupAjuda')">Ajuda</a>
            <a href="#Fontes" onclick="popupToggle('popupFontes')">Fontes</a>
        </p>
        <p>Faculdade de Tecnologia do Estado de São Paulo - Prof Jessen Vidal </p>
        <p>Desenvolvido por<a target="_blank" id="copy-link" href="https://github.com/equipedevo/API_1">&copy; Equipe DEVO</a><br>2023</p>
    </footer>
</body>
</html>
