{% extends "base.html" %}

{% block estilos %}
    <link rel="stylesheet" href="./static/css/consulta.css">
    <link rel="stylesheet" href="./static/css/carousel.css">
{% endblock %}

{% block scripts %}
    <script src="./static/js/Consulta.js"></script>
    <script src="./static/js/Carousel.js"></script>
{% endblock %}

{% block conteudo %}
    <div class="row">
        <form class="col-12" id="filtro">
            <div class="dropdown">
                <b><label for="periodo">Periodo</label></b>
                <button type="button" onclick="ShowSelect('periodo', this)">Mostrar</button>
                <select name="periodo" id="periodo" multiple="multiple">
                {% for periodo in periodos %}
                    <option value="{{ periodo.name }}">{{ periodo.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="dropdown">
                <b><label for="cidade">Cidade</label></b>
                <button type="button" onclick="ShowSelect('cidade', this)">Mostrar</button>
                <select name="cidade" id="cidade"  multiple="multiple">
                {% for cidade in cidades %}
                    <option value="{{ cidade.name }}">{{ cidade.value }}</option>
                {% endfor %}
                </select>
                    
            </div>
            <div class="dropdown">
                <b><label for="tipoValor">Tipo do valor</label></b>
                <select name="tipoValor" id="tipoValor">
                {% for tipoValor in tipoValor %}
                    <option value="{{ tipoValor.name }}">{{ tipoValor.value }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="dropdown">
                <b><label for="tipo">Tipo</label></b>
                <select name="tipo" id="tipo" onchange="document.getElementById('subTipo').selectedIndex = -1; UpdatesubTipos(this)">
                {% for tipo in tipos %}
                    <option value="{{ tipo.name }}">{{ tipo.value }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="dropdown">
                <b><label for="subTipo">Subtipo</label></b>
                <button type="button" onclick="ShowSelect('subTipo', this)">Mostrar</button>
                <select name="subTipo" id="subTipo"  multiple="multiple">
                {% for subTipo in subTipos %}
                    {% for sub in subTipo %}
                        <option value="{{ sub.name }}">{{ sub.value }}</option>
                    {% endfor %}
                {% endfor %}
                </select>
            </div>
            <div class="dropdown">
                <b><label for="porcentagem">Porcentagem</label></b>
                <input name="porcentagem" id="porcentagem" type="checkbox">
            </div>
            <div class="dropdown">
                <b><label for="buscar">Buscar</label></b>
                <button name="buscar" id="filtro-btn" type="button" onclick="Search()"><img src="./static/img/magnifying glass.png"></button>
            </div>
            <div class="dropdown">
                <b><label for="reset">Resetar</label></b>
                <button name="reset" id="filtro-btn" type="button" onclick="window.location.href = 'consulta';"><img src="./static/img/rewind.png"></button>
            </div>
        </form>
    </div>
    {% for cidade in graficos %}
    <div class="row">
        <div id="{{ cidade.name }}" class="carousel">
            {% if cidade.paths| length > 1 %}
            <div id="carousel-button-l">
                <p>2022</p>
                <button onclick="RollCarousel(document.getElementById('{{ cidade.name }}'), -1)"><</button>
            </div>
            <div id="carousel-graficos">
                {% endif %}
                {% for path in cidade.paths %}
                <img class="grafico" src="{{ path }}">
                {% endfor %}
                {% if cidade.paths| length > 1 %}
            </div>
            <div id="carousel-button-r">
                <p>2020</p>
                <button onclick="RollCarousel(document.getElementById('{{ cidade.name }}'), 1)">></button>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}