<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CICOVALE</title>
    
    <!-- Importação da fonte roboto -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Links para estilos -->

    <link rel="stylesheet" href="/src/static/css/normalize.css">
    <link rel="stylesheet" href="/src/static/css/style.css">

</head>
<body>
    <header>
        <nav class="flex-container">
            <div id="menu">
                <img id="logo" src="/src/static/img/devoLogo.png">

                <ul>
                    <li><a href="#Home">Início</a></li>
                    <li><a href="#Sobre">Sobre</a></li>
                    <li><a href="#Ajuda">Ajuda</a></li>
                    <li><a href="#Fontes">Fontes</a></li>
                    <li><a href="#Consultar" id="btn-consultar">Consultar</a></li>
                </ul>

            </div>
        </nav>
    </header>
</body>
</html>