{% extends "base.html" %}

{% block estilos %}
    <link rel="stylesheet" href="./static/css/index.css">
{% endblock %}

{% block conteudo %}
    <main>
        <div class="row" id="bem-vindo">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="conteudo">
                    <h3 class="title">Bem-vindo à <br>base de dados <br>sobre a covid longa</h3>
                    <h4>Analise e compare dados <br>de forma simples e rápida</h4>
                    <button class="btn" type="button" onclick="window.location.href = 'consulta';">Consultar</button>
                </div>
            </div>
            <div class="col-6">
                <img src="./static/img/covidIndex.svg" class="img-fluid" alt="Covid News">
            </div>
        </div>
    </main>
{% endblock %}