{% extends "base.html" %}

{% block estilos %}
    <link rel="stylesheet" href="./static/css/sobre.css">
    <link rel="stylesheet" href=".static/css/responsivo.css">
{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-12" id="sobreTitle">
            <h3>Sobre o CICOVALE</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 col-esq">
            <img src="./static/img/covidSobre.svg">
        </div>
        <div class="col-5" id="sobreText">
            <div id="flex-sobreText">
                <p>A COVID-19, doença causada pelo vírus SARS-CoV-2, foi caracterizada como uma pandemia pela Organização Mundial de Saúde (OMS). Ela teve seu primeiro registro no Brasil em fevereiro de 2020. Um ano depois foi o suficiente para país se tornar um dos maiores epicentros da doença, que contabilizou aproximadamente 700 mil óbitos e pouco mais de 38 milhões de casos confirmados.</p>
                <p>Além do impacto ocasionado pelo alto número de contágio da doença, pessoas recuperadas apresentam sequelas a longo prazo, o que caracteriza a covid longa. O sistema de saúde brasileiro é afetado em larga escala dentro desse cenário. Contudo, o Brasil carece de dados sobre os efeitos da COVID-19 no sistema de saúde brasileiro, principalmente a nível regional. </p>
                <p>Este site de análise de dados tem, portanto, o objetivo de oferecer informações referentes aos períodos pré, pós e durante pandemia nas maiores cidades situadas na região de cobertura da TV Vanguarda no Vale do Paraíba, como São José dos Campos, Jacareí e Taubaté, a fim de mensurar o impacto causado pela doença no Sistema Único de Saúde (SUS).</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}