/* ÁREA DE ESTILIZAÇÃO GERAL */
* {
    align-items: center;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
header, .popups{position: fixed; left: 0; top: 0}
header, footer, #bem-vindo{text-align: center}
header, .popups, main{width: 100%}
header, header ul, .flex, #sobreText, #bem-vindo{display: flex}
/* CORES GERAIS*/
:root{--branco: #FFFFFF; --preto: #000000; --azul: #0000FF; --cinza: #D6D6D6;}
*:any-link:hover{color: var(--azul)}
*, #btn-consultar:hover{color: var(--preto)}
header, #btn-consultar:hover, .contentPopup{background-color: var(--branco)}
footer{background-color: var(--cinza)}
/* ÁREA DE ESTILIZAÇÃO DO MENU/NAVBAR */
header{border-bottom: 2px solid var(--cinza)}
header img{height: 100px}
header ul{float: right; list-style: none}
header a{text-decoration: none}
.left, .logo, .right{flex: 1}
.center{flex: 3}
.nav{flex: 2}
/* POP-UPS */
.popups{display: none; height: 100%; text-align: justify; z-index: 99}
.contentPopup{
    border-radius: 25px;
    box-shadow: 0 3px 15px -2px var(--cinza);
    min-height: 50%;
    left: 15%;
    position: absolute;
    right: 15%;
    top: 25%;
    width: 70%;
}
/* OUTROS */
#btn-consultar{background-color:var(--azul); border: 1px solid var(--azul); border-radius: 10px; color: var(--branco)}
main{padding-top: 100px; min-height: 100vh}
footer a{text-decoration: none}