.carousel,
.carousel-button{
    align-items: center
}

.carousel,
.carousel-button{
    display: flex
}    

.carousel,
.carousel-graficos .grafico,
.carousel-button button,
img.grafico{
    width: 100%
}

.carousel-graficos{
    width: 80%
}

.carousel{
    justify-content: center
}

.carousel-button {
    flex-direction: column;
    justify-content: space-evenly
}
