.carousel{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.carousel-graficos{
    width: 80%;
}

.carousel-graficos .grafico{
    width: 100%;
}

.carousel-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.carousel-button button{
    width: 100%;
}
