#filtro{
    background-color: var(--azul);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    min-height: 75px;
    max-height: 150px;
    width: 100%;
    border-color: black;

    border-radius: 0 0 5px 5px;
}

#filtro form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#filtro-checkbox:hover{
    color: var(--preto);
    background-color: var(--branco);
}

#filtro-btn{
    width: 40px;
    height: 40px;
}

#filtro-btn{
    background-color:var(--azul);
    padding: 2.5px;
    border-radius: 5px;
}

#filtro-btn:hover{
    color: var(--preto);
    background-color: var(--branco);
}

#filtro-btn *{
    width: 100%;
    height: 100%;
}

#filtro-btn img{
    background-color: var(--branco);

    border-radius: 5px;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    border-color: black;
}

.dropdown label{
    color: var(--branco);
}

.dropdown select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    padding: 10px 25px 10px 10px;
    border-radius: 0px;

    background-image: url("../img/dropdown arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 15px;
}

.dropdown select[multiple]{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    display: none;

    padding: 10px 10px 10px 10px;
    border-radius: 0px;

    background-image: none;
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 15px;
}

.dropdown input[type="checkbox"]{
    width: 40px;
    height: 40px;
    border: 2px solid #3c3c3c;
    cursor: pointer;
}

.dropdown button[type="button"]{
    background-color: var(--branco);
    width: 117px;
    height: 40px;
    cursor: pointer;
}

.grafico-cidade{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.grafico{
    width: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}