@media(max-width:425px){
    body{overflow-x: hidden}
    /* MENU */
    .nav-list{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 70vw;
        height: 90vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-left: 2px solid var(--cinza);
        background-color: var(--branco);;
        transform: translateX(110%);
        transform: transform 0.3s ease-in
    }
    .nav-list.active{transform: translateX(0)}
    .nav-list li{margin-right: 0px; margin-left: 0px; opacity: 0}
    .mobile-menu{display: block}
    .col-dir, .col-esq, .space{display: none}
}
@keyframes navLinkFade {
    from{opacity: 0; transform: translateX(50px)}
    to{opacity: 1; transform: translateX(0)}
}
.mobile-menu.active .linha1{transform: rotate(-45deg) translate(-8px, 8px)}
.mobile-menu.active .linha2{opacity: 0}
.mobile-menu.active .linha3{transform: rotate(45deg) translate(-5px, 7px)}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .logo img{width: 50px; height: 50px}
    .conteudo{text-align: center}
    /* FONT-SIZE */
    *{font-size: 16px}
    footer p{font-size: 14px}
    header li{font-size:16px}
    .title{font-size: 28px}
    #bem-vindo .conteudo .title{font-size: 50px}
    #bem-vindo .conteudo .subtitle{font-size: 30px}
    h4{font-size: 23px}
    #sobreTitle{font-size: 40px}
    /* PADDING */
    #bem-vindo{padding-top: 20px}
    #bem-vindo .conteudo *{padding-bottom: 20px}
    #sobreTitle{padding: 10px 0 30px 0}
    #sobreText p{padding-bottom: 20px}
    h4{padding-bottom: 10px}
    main{padding-top: 50px}
    header li{padding: 1em .8em}
    header ul{padding-right: 10px}
    footer{padding: 1rem 2rem}
    footer a{padding: 0rem .5rem}
    footer p{padding-top: .5rem}
    #btn-consultar{padding: .5em}
    .contentPopup{padding: 20px 20px 30px 20px; top:15%}
    .contentPopup h2, .contentPopup p, footer{padding: 10px 0}
    .title{padding-bottom: 10px}
    /* SOBRE.CSS E INDEX.CSS*/
    .centerImg{display: none} .flex .center{flex: 6}
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .logo img{width: 100px; height: 100px}
    .conteudo{text-align: center}
    /* FONT-SIZE */
    *{font-size: 18px;}
    footer p{font-size: 16px}
    header li{font-size:18px}
    h4{font-size: 25px}
    #sobreTitle{font-size: 40px}
    .title{font-size: 30px}
    #bem-vindo .conteudo .title{font-size: 50px}
    #bem-vindo .conteudo .subtitle{font-size: 30px}
    /* PADDING */
    #bem-vindo{padding-top: 20px}
    #bem-vindo .conteudo *{padding-bottom: 20px}
    #sobreTitle{padding: 10px 0 30px 0}
    #sobreText p{padding-bottom: 20px}
    h4{padding-bottom: 10px}
    main{padding-top: 100px}
    .title{padding-bottom: 10px}
    header li{padding: 1em .8em}
    header ul{padding-right: 10px}
    footer{padding: 1rem 2rem}
    footer p{padding-top: .5rem}
    footer a{padding: 0rem .5rem}
    #btn-consultar{padding: .5em}
    .contentPopup{padding: 20px 20px 30px 20px; top: 25%;}
    .contentPopup h2, .contentPopup p, footer{padding: 10px 0}
    /* SOBRE.CSS */
    .centerImg{flex: 3}
    /* INDEX.CSS */
    .conteudo *{padding-bottom: 20px}
    
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    /* PADDING E FONT-SIZE*/
    .logo img{width: 100px; height: 100px}
    .conteudo{text-align: center}
    /* FONT-SIZE */
    *{font-size: 18px;}
    footer p{font-size: 16px}
    header li{font-size:18px}
    .title{font-size: 30px}
    #bem-vindo .conteudo .title{font-size: 50px}
    #bem-vindo .conteudo .subtitle{font-size: 30px}
    h4{font-size: 25px}
    #sobreTitle{font-size: 40px}
    /* PADDING */
    #bem-vindo{padding-top: 20px}
    #bem-vindo .conteudo *{padding-bottom: 20px}
    #sobreTitle{padding: 10px 0 30px 0}
    #sobreText p{padding-bottom: 20px}
    h4{padding-bottom: 10px}
    main{padding-top: 100px}
    .title{padding-bottom: 10px}
    header li{padding: 1em .8em}
    header ul{padding-right: 10px}
    footer{padding: 1rem 2rem}
    footer p{padding-top: .5rem}
    footer a{padding: 0rem .5rem}
    #btn-consultar{padding: .5em}
    .contentPopup{padding: 20px 20px 30px 20px; top: 25%;}
    .contentPopup h2, .contentPopup p, footer{padding: 10px 0}
    /* SOBRE.CSS */
    .centerImg{flex: 5} .flex .center{flex: 6}
    /* INDEX.CSS */
    #bem-vindo .centerImg{flex: 4}
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .logo img{width: 100px; height: 100px}
    .conteudo{text-align: center}
    /* FONT-SIZE */
    *{font-size: 18px;}
    footer p{font-size: 16px}
    header li{font-size:18px}
    .title{font-size: 30px}
    #bem-vindo .conteudo .title{font-size: 50px}
    #bem-vindo .conteudo .subtitle{font-size: 30px}
    h4{font-size: 25px}
    #sobreTitle{font-size: 40px}
    /* PADDING */
    #bem-vindo{padding-top: 20px}
    #bem-vindo .conteudo *{padding-bottom: 20px}
    #sobreTitle{padding: 10px 0 30px 0}
    #sobreText p{padding-bottom: 20px}
    h4{padding-bottom: 10px}
    main{padding-top: 100px}
    .title{padding-bottom: 10px}
    header li{padding: 1em .8em}
    header ul{padding-right: 10px}
    footer{padding: 1rem 2rem}
    footer p{padding-top: .5rem}
    footer a{padding: 0rem .5rem}
    #btn-consultar{padding: .5em}
    .contentPopup{padding: 20px 20px 30px 20px; top: 25%;}
    .contentPopup h2, .contentPopup p, footer{padding: 10px 0}
    /* SOBRE.CSS */
    .centerImg{flex: 3}
    /* INDEX.CSS */
    #bem-vindo .centerImg{flex: 2}
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .logo img{width: 100px; height: 100px}
    .conteudo{text-align: center}
    /* FONT-SIZE */
    *{font-size: 18px;}
    footer p{font-size: 16px}
    header li{font-size:18px}
    .title{font-size: 30px}
    #bem-vindo .conteudo .title{font-size: 50px}
    #bem-vindo .conteudo .subtitle{font-size: 30px}
    h4{font-size: 25px}
    #sobreTitle{font-size: 40px}
    /* PADDING */
    #bem-vindo{padding-top: 20px}
    #bem-vindo .conteudo *{padding-bottom: 20px}
    #sobreTitle{padding: 10px 0 30px 0}
    #sobreText p{padding-bottom: 20px}
    h4{padding-bottom: 10px}
    main{padding-top: 100px}
    .title{padding-bottom: 10px}
    header li{padding: 1em .8em}
    header ul{padding-right: 10px}
    footer{padding: 1rem 2rem}
    footer p{padding-top: .5rem}
    footer a{padding: 0rem .5rem}
    #btn-consultar{padding: .5em}
    .contentPopup{padding: 20px 20px 30px 20px; top: 25%;}
    .contentPopup h2, .contentPopup p, footer{padding: 10px 0}
    /* SOBRE.CSS */
    .centerImg{flex: 3}
    /* INDEX.CSS */
    #bem-vindo .centerImg{flex: 2}
}