/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    /* WIDTHS E HEIGHTS*/
    .logo img{
        height: 60px;
        width: 60px
    }

    footer{
            height: 90px
    }

    main{
        min-height: calc(100vh - 90px)
    }

/* FONT-SIZE */
    *{
        font-size: 16px
    }

    footer p{
        font-size: 14px
    }

    header li{
        font-size:16px
    }

    .title{
        font-size: 28px
    }

    #bem-vindo .conteudo .title{
        font-size: 40px
    }

    .conteudo .subtitle{
        font-size: 25px
    }

    #sobreTitle{
        font-size: 40px
    }

    /* PADDING */    
    #bem-vindo{
        padding-top: 50px
    }

    #bem-vindo .conteudo,
    #bem-vindo .conteudo h3, 
    #bem-vindo .conteudo h4{
        padding-bottom: 20px
    }

    #sobreTitle{
        padding: 30px 0 30px 0
    }

    #sobreText p
    {
        padding-bottom: 20px
    }

    h4{
        padding-bottom: 10px
    }

    main{
        padding-top: 50px
    }

    header li{
        padding: 1em .8em
    }

    header ul{
        padding-right: 10px
    }

    footer{
        padding: 1rem 2rem
    }

    footer a{
        padding: 0rem .5rem
    }

    footer p{
        padding-top: .5rem
    }

    #btn-consultar{
        padding: .5em
    }

    .contentPopup{
        padding: 20px 20px 30px 20px;
        top:15%
    }

    .contentPopup h2,
    footer{
        padding: 10px 0
    }

    .title{
        padding-bottom: 10px
    }


    /* SOBRE.CSS E INDEX.CSS*/
    .flex .center{
        flex: 6
    }

    .center #btn-consultar{
        font-size: 25px;
        height: 60px;
        width: 150px
    }

    /* DISPLAY NONE */
    .centerImg,
    footer p:first-of-type{
        display: none
    }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    /* WIDTHS E HEIGHTS */
    .logo img{
        width: 100px;
        height: 100px
    }

    /* FONT-SIZE */
    *{
        font-size: 18px
    }

    footer p{
        font-size: 16px
    }

    header li{
        font-size:18px
    }

    h4{
        font-size: 25px
    }

    #sobreTitle{
        font-size: 40px
    }

    .title{
        font-size: 30px
    }

    #bem-vindo .conteudo .subtitle{
        font-size: 30px
    }

    /* PADDING */
    #bem-vindo .conteudo,
    #bem-vindo .conteudo h3,
    #bem-vindo .conteudo h4{
        padding-bottom: 20px
    }

    #sobreTitle{
        padding: 10px 0 30px 0
    }

    #sobreTitle{
        padding: 10px 0 30px 0
    }

    #sobreText p{
        padding-bottom: 20px
    }

    h4{
        padding-bottom: 10px
    }

    main{
        padding-top: 100px
    }

    .title{
        padding-bottom: 10px
    }


    header li{
        padding: 1em .8em
    }

    header ul{
        padding-right: 10px
    }

    footer{
        padding: 1rem 2rem
    }

    footer p{
        padding-top: .5rem
    }

    footer a{
        padding: 0rem .5rem
    }

    #btn-consultar{
        padding: .5em
    }

    .contentPopup{
        padding: 20px 20px 30px 20px;
        top: 25%
    }

    .contentPopup h2,
    .contentPopup p,
    footer{
        padding: 10px 0
    }

    /* SOBRE.CSS */
    .centerImg{
        flex: 3
    }

    /* INDEX.CSS */
    .conteudo *{
        padding-bottom: 20px
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    /* WIDTHS E HEIGHTS */
    .logo img{
        height: 100px;
        width: 100px
    }

    /* FONT-SIZE */
    *{
        font-size: 18px
    }

    footer p{
        font-size: 16px
    }

    header li{
        font-size:18px
    }

    .title{
        font-size: 30px
    }

    #bem-vindo .conteudo .title{
        font-size: 50px
    }

    #bem-vindo .conteudo .subtitle{
        font-size: 30px
    }

    h4{
        font-size: 25px
    }

    #sobreTitle{
        font-size: 40px
    }

    /* PADDING */
    #bem-vindo{
        padding-top: 20px
    }

    #bem-vindo .conteudo,
    #bem-vindo .conteudo h3,
    #bem-vindo .conteudo h4{
        padding-bottom: 20px
    }

    #sobreTitle{
        padding: 10px 0 30px 0
    }

    #sobreText p{
        padding-bottom: 20px
    }

    h4{
        padding-bottom: 10px
    }

    main{
        padding-top: 100px
    }

    .title{
        padding-bottom: 10px
    }

    header li{
        padding: 1em .8em
    }

    header ul{
        padding-right: 10px
    }

    footer{
        padding: 1rem 2rem
    }

    footer p{
        padding-top: .5rem
    }

    footer a{
        padding: 0rem .5rem
    }

    #btn-consultar{
        padding: .5em
    }

    .contentPopup{
        padding: 20px 20px 30px 20px;
        top: 25%
    }

    .contentPopup h2,
    .contentPopup p,
    footer{
        padding: 10px 0
    }

    /* SOBRE.CSS */

    .centerImg{
        flex: 5
    }

    .flex .center{
        flex: 6
    }

    /* INDEX.CSS */

    #bem-vindo .centerImg{flex: 4}
}

/* Media Query for Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1280px){
    /* WIDTHS E HEIGHTS */
    .logo img{
        width: 100px;
        height: 100px
    }

    /* FONT-SIZE */
    *{
        font-size: 18px
    }

    footer p{
        font-size: 16px
    }

    header li{
        font-size:18px
    }

    .title{
        font-size: 30px
    }

    #bem-vindo .conteudo .title{
        font-size: 50px
    }

    #bem-vindo .conteudo .subtitle{
        font-size: 30px
    }

    h4{
        font-size: 25px
    }

    #sobreTitle{
        font-size: 40px
    }

    /* PADDING */
    #bem-vindo{
        padding-top: 20px
    }

    #bem-vindo .conteudo,
    #bem-vindo .conteudo h3,
    #bem-vindo .conteudo h4{
        padding-bottom: 20px
    }

    #sobreTitle{
        padding: 10px 0 30px 0
    }

    #sobreText p{
        padding-bottom: 20px
    }

    h4{
        padding-bottom: 10px
    }

    main{
        padding-top: 100px
    }

    .title{
        padding-bottom: 10px
    }

    header li{
        padding: 1em .8em
    }

    header ul{
        padding-right: 10px
    }

    footer{
        padding: 1rem 2rem
    }

    footer p{
        padding-top: .5rem
    }

    footer a{
        padding: 0rem .5rem
    }

    #btn-consultar{
        padding: .5em
    }

    .contentPopup{
        padding: 20px 20px 30px 20px;
        top: 25%
    }

    .contentPopup h2,
    .contentPopup p,
    footer{
        padding: 10px 0
    }

    /* SOBRE.CSS */
    .centerImg{
        flex: 3
    }

    /* INDEX.CSS */
    #bem-vindo .centerImg{
        flex: 2
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    /* WIDTHS E HEIGHTS */
    .logo img{width: 100px; height: 100px}
     
    /* FONT-SIZE */
    *{
        font-size: 18px
    }

    footer p{
        font-size: 16px
    }

    header li{
        font-size:18px
    }

    .title{
        font-size: 30px
    }

    #bem-vindo .conteudo .title{
        font-size: 50px
    }

    #bem-vindo .conteudo .subtitle{
        font-size: 30px
    }

    h4{
        font-size: 25px
    }

    #sobreTitle{
        font-size: 40px
    }

    /* PADDING */
    #bem-vindo{
        padding-top: 20px
    }

    #bem-vindo .conteudo,
    #bem-vindo .conteudo h3,
    #bem-vindo .conteudo h4{
        padding-bottom: 20px
    }

    #sobreTitle{
        padding: 10px 0 30px 0
    }

    #sobreText p{
        padding-bottom: 20px
    }

    h4{
        padding-bottom: 10px
    }

    main{
        padding-top: 100px
    }

    .title{
        padding-bottom: 10px
    }

    header li{
        padding: 1em .8em
    }

    header ul{
        padding-right: 10px
    }

    footer{
        padding: 1rem 2rem
    }

    footer p{
        padding-top: .5rem
    }

    footer a{
        padding: 0rem .5rem
    }

    #btn-consultar{
        padding: .5em
    }

    .contentPopup{
        padding: 20px 20px 30px 20px;
        top: 25%
    }

    .contentPopup h2,
    .contentPopup p,
    footer{
        padding: 10px 0
    }

    /* SOBRE.CSS */
    .centerImg{
        flex: 3
    }

    /* INDEX.CSS */
    #bem-vindo .centerImg{flex: 2
    }
}