#sobreTitle{
    text-align: center;
    font-size: 40px;
    padding: 10px 0 30px 0;
}

#sobreText p{padding-bottom: 20px}

#sobreText{
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.centerImg{flex: 3}
.centerImg img{width: 100%;}
@media(max-width:530px){.centerImg{display: none;} .flex .center{flex: 6}}
@media(max-width:830px){.centerImg{flex: 5;} .flex .center{flex: 6;}}