/* Classes do proprio bootstrap */

.row{
    margin: 0;
}

.container{
    padding: 70px 0px;
}

/* Barra de navegação */

header, .navbar{
    background-color: #fff;
    padding: 0px 10px;
}

#nav-container{
    padding-top: 0px;
    padding-bottom: 0px;
}

#logo{
    width: 80px;
}

.navbar-brand{
    padding: 0px;
    color: #000;
    font-size: 14px;
}

#navbar-links a{
    text-align: center;
    color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: .5rem .8rem;
}

.navbar-nav #consultar-menu{
    background-color:#0000ff;
    border-radius: 20%;
}

/* Tags básicas */

body{
    font-family: 'Roboto', sans-serif;
}

p, li{
    color: #000;
    font-size: 14px;
}

/* Main */

main{
    min-height: 100vh;
}

/* Footer */

footer #copy-area .container-fluid{
    background-color: #d6d6d6;
    padding: 10px 0px;
}

footer p{
    text-align:center;
}

footer a{
    color: #000;
}

footer a:hover{
    color: #0000ff;
}