#bemvindo-area{
    margin-top: 70px;
}

.TituloBemVindo{
    padding-top:100px;
    font-size:50px;
}

h4{
    font-size:30px;
}

.btn{
    background-color: #0000ff;
    color: #fff;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    border-color: #0000ff
}